header.Header#Header
  section.Header-container
    div.Logo
      a(href=link.inicio)
        img(src="img/logo.svg" alt="Logo Hub-Minero")
    button(type="button" class="Panel-btn hamburger hamburger--elastic")
      span.hamburger-box
        span.hamburger-inner
    section.Panel
      nav.Menu
        ul
          li
            a(href=link.convocatoria) Convocatoria
          li
            a(href=link.propuesta).Menu-link Propuesta
          li
            a(href=link.beneficios).Menu-link Beneficios
          li
            a(href=link.plan).Menu-link Plan
          li
            a(href=link.socios).Menu-link Socios
          li
            a(href=link.contactanos).Menu-link Contáctanos

