section.Slider
    .Slider-item.slider-actual
      h4= slider.text1
      img(src="img/slider1.jpg", alt="Camion Minero")
    .Slider-item
      h4= slider.text2
      img(src="img/slider2.jpg", alt="Mina del futuro")
    .Slider-item
      h4= slider.text3
      img(src="img/slider3.jpg", alt="Mineros trabajando")
    .Slider-item
      h4= slider.text4
      img(src="img/slider4.jpg", alt="Maquina minera")
    .Slider-item
      h4= slider.text5
      img(src="img/slider5.jpg", alt="App Mineria")
    .anterior#Prev
      i(class="fas fa-chevron-left")
    .siguiente#Next
      i(class="fas fa-chevron-right")
    .puntos
      span#punto1.punto.punto-activo
      span#punto2.punto
      span#punto3.punto
      span#punto4.punto
      span#punto5.punto
    .PlayPause
      i(class="fas fa-pause")#btnPlay
